# nodejs
node_modules

# test
spec
.nycrc.json
.nyc_output
jsconfig.json


# eslint
.eslintrc
.eslintignore

# dotenv
.env

# ide
.DS_Store
.vscode
.theia
.idea
.devcontainer

# github
.github

# babel
babel.config.js
rollup.config.js

# gitpod
.gitpod.yml
.gitpod.dockerfile

# test
jest.config.js
coverage
jest.setup.js
modules
